<div *ngIf="hero">
  <div *ngIf="viewMode">
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div><span>HP: </span>{{hero.hp}}</div>
    <div><span>Level: </span>{{hero.level}}</div>
    <div><span>Weapons: </span>{{hero.weapon}}</div>
    <div><span>Stamina: </span>{{hero.stamina}}</div>
    <div><span>Race: </span>{{hero.race}}</div>
    <button type="button" (click)="goBack()">Go back</button>
    <button (click)="update()" type="button">Edit</button>
  </div>

  <div *ngIf="!viewMode">
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="hero.name" #heroname="ngModel" placeholder="Hero name" pattern="[a-zA-Z]*" required/>
    </div>
  
    <div>
      <label for="hp">HP: </label>
      <input type="number" id="hp" [(ngModel)]="hero.hp" #herohp="ngModel" placeholder="100" min="100" step="100" required/>
      <div *ngIf="herohp.invalid && (herohp.dirty || herohp.touched)">
        <div *ngIf="herohp.errors">
          Incorrect value        
        </div>      
      </div>
    </div>
  
    <div>
      <label for="level">Level: </label>
      <input type="number" id="level" [(ngModel)]="hero.level" #herolevel="ngModel"  placeholder="1" min="1" max="100" required/>
      <div *ngIf="herolevel.invalid && (herolevel.dirty || herolevel.touched)">
        <div *ngIf="herolevel.errors">
          Incorrect value        
        </div>      
      </div>     
    </div>
  
    <div class="lists">
      <div class="listsTitle">Weapons:</div>
        <select [(ngModel)]="hero.weapon" #heroweapon="ngModel" class="listoption" required>
          <option *ngFor="let Weapon of weapons" [value]="Weapon.name">
            {{Weapon.name}}
          </option>
        </select>
    </div>
  
    <div>
      <label for="stamina">Stamina: </label>
      <input type="number" id="stamina" [(ngModel)]="hero.stamina" #herostam="ngModel" placeholder="100" min="100" step="10" required/>
      <div *ngIf="herostam.invalid && (herostam.dirty || herostam.touched)">
        <div *ngIf="herostam.errors">
          Incorrect value        
        </div>      
      </div>
    </div>
    
    <div class="lists">
      <div class="listsTitle">Race:</div> 
      <select  [(ngModel)]="hero.race" #herorace="ngModel" class="listoption" required>
        <option *ngFor="let Race of races" [value]="Race.name">
          {{Race.name}}
        </option>
      </select>
    </div>
  
    <button type="button" (click)="goBack()">go back</button>
    <button [disabled]="heroname.invalid || (herohp.invalid && herohp.touched) || herolevel.invalid || herostam.invalid  || herorace.invalid || heroweapon.invalid " type="button" (click)="save()">save</button>  
  </div>
  </div>