/* DashboardComponent's private CSS styles */

h2 {
  text-align: center;
}

.heroes-menu {
  padding: 0;
  margin: auto;
  max-width: 1000px;

  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

a {
  border-radius: 2px;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 100%;
  min-width: 70px;
  margin: .5rem auto;
  box-sizing: border-box;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.cards p {
  width: 100%;
  margin: 10px 0;
  text-align: left;
  }
  
.hero-name {
  font-size: 28px;
  font-weight: bolder;
  text-align: center !important;
  letter-spacing: 1px;
}
  
.cards p:nth-child(2) {
  font-style: italic;
  font-size: 16px;
  text-align: center;
  margin: 0 0 20px 0;
}

.card-data-wrapp {
  position: relative;
  padding: 1rem;
  color: #3f525c;
  border-radius: 5px;
  transition: .5s;
}

.card-img {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 30px;
  height: 30px;
}

.card-data-wrapp:hover {
  transition: .5s;
  border-radius: 0px;
}

.witch{
  background-color: plum;
}

.witch:hover {
  background-color: rgb(219, 97, 219);
  color: #fff;
}

.fairy{
  background-color: rgb(167, 255, 161);
} 

.fairy:hover {
  background-color: rgb(108, 252, 110);
  color: #fff;
}

.kitsune{
  background-color: rgb(255, 161, 161);
} 

.kitsune:hover {
  background-color: rgb(255, 94, 94);
  color: #fff;
}

.tengu{
  background-color: rgb(201, 187, 255);
} 

.tengu:hover {
  background-color: rgb(133, 103, 255);
  color: #fff;
} 

.pixie{
  background-color: rgb(148, 255, 250);
}

.pixie:hover {
  background-color: rgb(29, 229, 219);
  color: #fff;
}

@media (min-width: 600px) {
  a {
    width: 18%;
    box-sizing: content-box;
  }
}