.heroes {
  margin: 0 0 2em 0 !important;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

input {
  display: block;
  width: 400px;
  padding: .5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}

.heroes li {
  position: relative;
  cursor: pointer;
}

.heroes li:hover {
  left: .1em;
}

.heroes a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.heroes a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.heroes a:active {
  background-color: #525252;
  color: #fafafa;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.add-button {
 padding: .5rem 1.65rem;
 font-size: 1rem;
 margin-bottom: 1rem;
 background-color: rgb(232, 232, 232);
 border: 1px solid #42545C;
 border-radius: 4px;
}

.add-button:hover {
  color: white !important;
  background-color: #42545C;
}

.newhero{
  margin-bottom: 2rem;
}

.newhero a{
  padding: .5rem 1.5rem;
  font-size: 1rem;
  color: #333;
  text-decoration: none;
  background-color: rgb(232, 232, 232);
  border: 1px solid #42545C;
  border-radius: 4px;
  font-family: Cambria, Georgia;
}

.newhero a:hover{
  color: white;
  background-color: #42545C;
}

table{
  width: 100%;
}

.mat-column-hero-id {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-hero-name {
  width: 300px;
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-hero-level {
  width: 40px;
  padding-left: 16px;
  padding-right: 20px;
  text-align: center;
  font-weight: bold;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}
